<footer>
    <div class="footer-content">
        <div class="footer-left">
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms of Use</a>
            <a href="/refunds">Refund Policy</a>
        </div>
        <div class="footer-right">
            <p><a class="subscribe" data-formkit-toggle="0149b7193d" href="https://ideas-by-adam.kit.com/2623f2aa0a" target="_blank">Receive updates about IDEAS. No spam.</a></p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Built by <a href="https://x.com/daogadam" target="_blank">Adam Dawoodjee</a></p>
    </div>
</footer>